node_modules
.env
.git-old
.vscode

**/**/.env
**/**/node_modules
**/**/.git-old
**/**/.vscode

db/backups

mysql/backups
mysql

api_service_wrapper.bat
frontend_service_wrapper.bat
*.log

update-status.json
**/logs