/* You can add global styles to this file, and also import other style files */
body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    place-items: center;
    justify-content: start;
    place-self: center;

    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    background: linear-gradient(135deg, #ffffff 0%, #ffffff 100%);
    min-height: 100vh;
    display: flex;
    padding: 0;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Modo oscuro */
@media (prefers-color-scheme: dark) {
    body {
        background: linear-gradient(135deg, #111827 0%, #1f2937 100%);
    }
}